.idea/
tools/laptopfiles/.awssaml/awssaml.log
tools/laptopfiles/ApacheDirectoryStudio/.metadata/.bak_0.log
tools/laptopfiles/ApacheDirectoryStudio/.metadata/.bak_1.log
tools/laptopfiles/ApacheDirectoryStudio/.metadata/.log
tools/laptopfiles/ApacheDirectoryStudio/.metadata/.plugins/org.apache.directory.studio.connection.core/logs/
tools/laptopfiles/trivir/bin/
tools/laptopfiles/trivir/idmunit-test-converter-corrupted/
tools/laptopfiles/trivir/schema-check/
tools/laptopfiles/trivir/testsync/
~$*
*java~
lastExternal*
tools/laptopfiles/ApacheDirectoryStudio/.metadata/.plugins/org.apache.directory.studio.ldapbrowser.core/*.ldif
idtodocunet/userDocunet20240410011108.csv
AlteaReconReport-20240412-095709-Version2.txt
altea/AlteaReconReport-20240422-043219.txt
altea/AlteaReconReport-ActualLeftOver-20240422-043219.txt
altea/AlteaReconReport-ExpectedLeftOver-20240422-043219.txt
**/*.bak
*.bak 
.~lock.TrivirTimes.ods#
obsidian/.obsidian/workspace.json