## No commits yet on master
#61F38EEA.doc
#7040CB9A.xls
#BB555208.pptx
#C3E69F44.jpg
$50EED602.jpg
$63290C16.xls
$74616E0A.pptx
$FA982DD4.doc
".ApacheDirectoryStudio - Copy/"
.ApacheDirectoryStudio/
.android/
.aws/
.awssaml/
.cisco/
.config/
.docker/
.eclipse/
.git-for-windows-updater
.gradle/
.idmunit/
.inputrc
.jdks/
.junique/
.lesshst
.m2/
.squirrel-sql/
.ssh/
.viminfo
.vscode/
3D Objects/
AppData/
Contacts/
DISABLED.ApacheDirectoryStudio/
Desktop/
Documents/
Downloads/
DriversThatTouchOU-all.xml
Favorites/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{d8ca8e32-9e47-11ed-8282-08920494b016}.TxR.0.regtrans-ms
NTUSER.DAT{d8ca8e32-9e47-11ed-8282-08920494b016}.TxR.1.regtrans-ms
NTUSER.DAT{d8ca8e32-9e47-11ed-8282-08920494b016}.TxR.2.regtrans-ms
NTUSER.DAT{d8ca8e32-9e47-11ed-8282-08920494b016}.TxR.blf
NTUSER.DAT{d8ca8e33-9e47-11ed-8282-08920494b016}.TM.blf
NTUSER.DAT{d8ca8e33-9e47-11ed-8282-08920494b016}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{d8ca8e33-9e47-11ed-8282-08920494b016}.TMContainer00000000000000000002.regtrans-ms
Pictures/
Saved Games/
Searches/
Videos/
designer_workspace/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
workspace/
\#61F38EEA.doc
\#7040CB9A.xls
\#BB555208.pptx
\#C3E69F44.jpg
.ApacheDirectoryStudio - Copy/
"3D Objects/"
Application Data/
Application Data
Cookies
Local Settings
My Documents
NetHood
PrintHood
Recent
SendTo
Start Menu
Templates
\#2B9DB60E.xls
\#362D788D.jpg
\#3A2D4541.pptx
\#4B3442F4.xls
\#57FB8884.doc
\#B69A921E.doc
\#DBAEBC83.pptx
\#FAADC531.jpg
$06C7D8BE.jpg
$1AD41573.xls
$377F1FAF.pptx
$7577B008.jpg
$864C0030.xls
$AEB283B8.doc
$B213C93F.doc
$D8505116.pptx
.console2/
.gnupg/
.openjfx/
NTUSER.DAT{e606dfa5-234a-11ef-82f3-8092ac5beebb}.TM.blf
NTUSER.DAT{e606dfa5-234a-11ef-82f3-8092ac5beebb}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{e606dfa5-234a-11ef-82f3-8092ac5beebb}.TMContainer00000000000000000002.regtrans-ms
docunetHeredoc
experiment.sh
gpg-pub.asc
gpg-sc.asc
list.txt
public